* {
    outline: red 1px solid;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dashboard {
    grid-column: 1 / 2;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header-top {
    flex-direction: row;
    grid-row: 1 / 2;
}

.header-bottom {
    grid-row: 2 / 3;
}

.content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.content-left {
    grid-column: 1 / 2;
}

.content-right {
    grid-column: 2 / 3;
}